# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

product-service/.webpack
product-service/.serverless
product-service/node_modules